## 104 Crawler

In [414]:
import pandas as pd

In [415]:
# overview of the results
data = pd.read_csv('data/result-2021-07-03.csv')

In [416]:
data

,Unnamed: 0,area_name,area_code,job_exp,all,fulltime,parttime,highend,temp
0,0,台北市中正區,6001001001,1,115,80,32,2,1
1,1,台北市中正區,6001001001,3,24,22,2,0,0
2,2,台北市中正區,6001001001,5,3,3,0,0,0
3,3,台北市中正區,6001001001,10,2,2,0,0,0
4,4,台北市中正區,6001001001,99,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1820,1820,連江縣東引鄉,6001023004,1,0,0,0,0,0
1821,1821,連江縣東引鄉,6001023004,3,0,0,0,0,0
1822,1822,連江縣東引鄉,6001023004,5,0,0,0,0,0
1823,1823,連江縣東引鄉,6001023004,10,0,0,0,0,0
1824,1824,連江縣東引鄉,6001023004,99,0,0,0,0,0

## Crawler

若要使用 `JobCrawler` 可以把它 import 進來

In [421]:
from crawler import JobCrawler
import json

In [427]:
with open('mapping.json', 'r') as fin:
    areas = json.load(fin)

In [425]:
# extract first element in areas
areas[0]

{'area_name': '台北市中正區',
 'area_code': 6001001001,
 'city': '台北市',
 'district': '中正區'}

In [426]:
area = areas[0] # use first element as example

In [432]:
url = f"https://www.104.com.tw/jobs/search/?area={area['area_code']}&jobexp=1&isnew=0"

In [436]:
url

'https://www.104.com.tw/jobs/search/?area=6001001001&jobexp=1&isnew=0'

In [433]:
job.get(url)

In [434]:
job._parse_all_count()

{'all': '115', 'fulltime': '80', 'parttime': '32', 'highend': '2', 'temp': '1'}